* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/*
#library-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: 1fr;
  gap: 4px;
  padding: 4px;
}

.card {
  height: 15rem;
  width: ;
  max-width: 35rem;
  padding: 30px;
  border: solid green 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
}

.title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.author {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.page-number {
  grid-column: 1 / 2;
  grid-row: 3 / -1;
}

.read {
  grid-column: 2 / -1;
  grid-row: 3 / -1;
}



button {
  width: 150px;
  height: 50px;
}

#show-dialog {
  margin-left: 4px;
} */

body {
  min-height: 100vh;
  padding: 5vw;
  font-family: "Roboto", sans-serif;
  background-color: #a0b3c1;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3vw;
}

#my-library {
  text-align: center;
  font-size: 4em;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-bottom: 15px;
}

#book-tracker {
  text-align: center;
  color: #2f5d8c;
}

#library-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 4px;
  padding: 4px;
}

.card {
  border-radius: 15px;
  background-color: #f9f9f9;
  display: inline-block;
  margin: 15px;
  font-size: 14px;
  padding: 5px 30px 25px 30px;
  line-height: 1.4;
  position: relative;
  overflow: hidden;
  min-height: 140px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card h1 {
  font-weight: 800;
  color: #d55e2d;
  font-size: 30px;
  margin: 10px 0px 8px -2px;
  text-shadow: none;
}

.card h2 {
  color: #2f5d8c;
  font-weight: 600;
  font-size: 25px;
  margin: 10px 0px 8px -2px;
  text-shadow: none;
}

#show-dialog {
  width: 100%;
  height: 5em;
  margin-top: 2em;
  overflow: hidden;
}

.read {
  padding-bottom: 45px;
}

.have-read-book {
  border-radius: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  padding: 15px 0 15px 0;
  background-color: green;
}

.have-not-read-book {
  border-radius: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  padding: 15px 0 15px 0;
  background-color: gray;
}

.have-read-book:active,
.have-not-read-book:active,
.have-read-book:hover,
.have-not-read-book:hover,
.delete-book:active,
.delete-book:hover {
  transition: 0s;
  background-color: #2f5d8c;
}

.delete-book {
  border-radius: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  padding: 15px 0 15px 0;
}

@media only screen and (max-width: 1200px) {
  #library-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    gap: 4px;
    padding: 4px;
  }
}

@media only screen and (max-width: 940px) {
  #library-container {
    grid-template-columns: 1fr;
    gap: 4px;
    padding: 4px;
  }
}

dialog {
  border-style: none;
  box-shadow: #d55e2d;
  border-radius: 15px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#new-book-form {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

label {
  font-size: large;
}

.required {
  all: unset;
  border: solid 1px black;
  border-radius: 5px;
  padding: 0.5em;
}

input:invalid {
  border: solid 1px red;
}

button {
  background: #d55e2d;
  border: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

button:hover,
button:active {
  transition: 0.5s;
  background-color: #2f5d8c;
  background-position: 0 0;
  color: white;
}

button:active {
  opacity: 0.5;
}

.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type="checkbox"] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #2f5d8c;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #2f5d8c;
}
